In [1]:
import pandas as pd
import csv
import string

In [18]:
speaker_gender = pd.read_csv('speakers_with_gender.csv')

In [19]:
speaker_gender

,speaker,occupation,introduction,profile,Gender_auto,MaleScore,FemaleScore,NonBinaryScore,Gender_handcheck
0,Al Gore,Climate advocate,Nobel Laureate Al Gore focused the world’s att...,Why you should listen\nFormer Vice President A...,male,5.0,0.0,0.0,male
1,David Pogue,Technology columnist,David Pogue is the personal technology columni...,Why you should listen\nWhich cell phone to cho...,male,5.0,0.0,0.0,male
2,Majora Carter,Activist for environmental justice,Majora Carter redefined the field of environme...,Why you should listen\nMajora Carter is a visi...,female,1.0,11.0,0.0,female
3,Ken Robinson,Author/educator,Creativity expert Sir Ken Robinson challenges ...,Why you should listen\nWhy don't we get the be...,male,8.0,0.0,2.0,male
4,Hans Rosling,Global health expert; data visionary,"In Hans Rosling’s hands, data sings. Global tr...",Why you should listen\nEven the most worldly a...,male,13.0,0.0,2.0,male
...,...,...,...,...,...,...,...,...,...
863,Improv Everywhere,Pranksters,Improv Everywhere is a New York City-based pra...,Why you should listen\nCreated in August 2001 ...,non-binary,0.0,0.0,2.0,they (group mixed)
864,Quixotic Fusion,Performance ensemble,Anthony Magliano and Mica Thomas are the found...,"Why you should listen\nQuixotic, conceived by ...",no pronouns,0.0,0.0,0.0,they (group mixed)
865,Silk Road Ensemble,Musical explorers,"With a repertoire spanning classical, improvis...",Why you should listen\nInspired by the exchang...,no pronouns,0.0,0.0,0.0,they (group mixed)
866,The LXD,Dance adventurers,The LXD (the Legion of Extraordinary Dancers) ...,Why you should listen\nImagine two rival facti...,non-binary,0.0,0.0,2.0,they (group mixed)
867,Rodrigo y Gabriela,Guitar duo,"Rodrigo y Gabriela fuse metal, jazz and world ...",Why you should listen\nSince they left Mexico ...,non-binary,0.0,0.0,7.0,"they (male, female)"

In [4]:
speaker_cols_only = speaker_gender[["Gender_auto", "Gender_handcheck"]]

In [5]:
speaker_cols_only

     Gender_auto     Gender_handcheck
0           male                 male
1           male                 male
2         female               female
3           male                 male
4           male                 male
..           ...                  ...
863   non-binary   they (group mixed)
864  no pronouns   they (group mixed)
865  no pronouns   they (group mixed)
866   non-binary   they (group mixed)
867   non-binary  they (male, female)

[868 rows x 2 columns]

In [15]:
speaker_cols_only.groupby(by = ["Gender_auto"]).count()

             Gender_handcheck
Gender_auto
female                    210
last case                   7
male                      543
no pronouns                18
non-binary                 41
undetected                 49

In [16]:
speaker_cols_only.groupby(by = ["Gender_handcheck"]).count()

                     Gender_auto
Gender_handcheck
female                       247
male                         610
they (group male)              6
they (group mixed)             4
they (male, female)            1

In [20]:
speaker_cols_only.groupby(by = ["Gender_handcheck","Gender_auto"])["Gender_auto"].count()

Gender_handcheck     Gender_auto
female               female         210
                     last case        4
                     no pronouns      1
                     non-binary      13
                     undetected      19
male                 last case        3
                     male           543
                     no pronouns     15
                     non-binary      20
                     undetected      29
they (group male)    non-binary       5
                     undetected       1
they (group mixed)   no pronouns      2
                     non-binary       2
they (male, female)  non-binary       1
Name: Gender_auto, dtype: int64

In [17]:
speaker_cols_only

     Gender_auto     Gender_handcheck
0           male                 male
1           male                 male
2         female               female
3           male                 male
4           male                 male
..           ...                  ...
863   non-binary   they (group mixed)
864  no pronouns   they (group mixed)
865  no pronouns   they (group mixed)
866   non-binary   they (group mixed)
867   non-binary  they (male, female)

[868 rows x 2 columns]

In [21]:
67/610

0.10983606557377049

In [22]:
37/247

0.14979757085020243

In [29]:
610/(610+247+11)*100

70.27649769585254

In [30]:
70.28+28.46+1.27

100.01

References consuluted:  
1. [How to Count Unique Values Using Pandas GroupBy](https://www.statology.org/pandas-groupby-count-unique/)