# Merging `only` and `plus` dataframes

Working with only the data from the release, we have two files:

    TEDonly_speakers_final.csv
    TEDplus_speakers_final.csv

The first thing we will do is to load both as `pandas` dataframes, but I think we also want to consider creating a merged file -- something like `TEDall.csv`. We are only going to need to do this once. From then on, we will work with either that data or an extended version of that data.

In [1]:
import pandas as pd

df_only = pd.read_csv('../data/Release_v0/TEDonly_speakers_final.csv')
df_plus = pd.read_csv('../data/Release_v0/TEDplus_speakers_final.csv')

print("df_only = ", df_only.shape, "\n" + "df_plus = ", df_plus.shape)

df_only =  (992, 27)
df_plus =  (755, 27)

That's a lot of columns. Let's check the column names so that, first, we know we can merge the two dataframes without a problem, and, second, so that we can make sure to use the right column name later to get the texts of the talks.

In [2]:
# The pythonic way to open a file and get data:
with open('../data/Release_v0/TEDonly_speakers_final.csv') as f:
    cols_only = f.readline().strip().split(",")
with open('../data/Release_v0/TEDplus_speakers_final.csv') as f:
    cols_plus = f.readline().strip().split(",")

if cols_only == cols_plus:
    print("We are clear to merge.")
else:
    print("Houston, we have a problem.")

We are clear to merge.

Pandas allows us to **concatenate** dataframes by row, when our observations have the same metadata; **merge** by columns, when we have additional information for our observations; and **join**, which has all the usual functionalities, and complexities, of SQL joins. Our dataframes have the same columns, so we are going to concatenate the two and then write the combined data to a new `csv`.

To do that, we are going to add a key column to each dataframe so that if we ever need to know which of the two dataframes a particular talk came from, we will be able to get that information readily. All we are going to do is add a column called `set` which will have one of two values, `only` or `plus`. The basic method of doing this is:

```python
df['Name']='abc'
```

But we are going to be a little more elaborate, because we would like to have this information on the left-hand side of the dataframe.

In [3]:
df_only.insert(0, 'Set', 'only')

In [5]:
df_only.head(3)

,Set,Unnamed: 0,Talk_ID,public_url,headline,description,event,duration,published,tags,...,speaker2_introduction,speaker2_profile,speaker_3,speaker3_occupation,speaker3_introduction,speaker3_profile,speaker_4,speaker4_occupation,speaker4_introduction,speaker4_profile
0,only,0,1,https://www.ted.com/talks/al_gore_on_averting_...,Averting the climate crisis,With the same humor and humanity he exuded in ...,TED2006,0:16:17,6/27/06,"alternative energy,cars,global issues,climate ...",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,only,1,7,https://www.ted.com/talks/david_pogue_says_sim...,Simplicity sells,New York Times columnist David Pogue takes aim...,TED2006,0:21:26,6/27/06,"simplicity,entertainment,interface design,soft...",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,only,2,53,https://www.ted.com/talks/majora_carter_s_tale...,Greening the ghetto,"In an emotionally charged talk, MacArthur-winn...",TED2006,0:18:36,6/27/06,"MacArthur grant,cities,green,activism,politics...",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
df_plus.insert(0, 'Set', 'plus')
df_plus.head(3)

,Set,Unnamed: 0,Talk_ID,public_url,headline,description,event,duration,published,tags,...,speaker2_introduction,speaker2_profile,speaker_3,speaker3_occupation,speaker3_introduction,speaker3_profile,speaker_4,speaker4_occupation,speaker4_introduction,speaker4_profile
0,plus,0,37,https://www.ted.com/talks/jimmy_wales_on_the_b...,The birth of Wikipedia,"Jimmy Wales recalls how he assembled ""a ragtag...",TEDGlobal 2005,0:20:01,8/21/06,"wikipedia,open-source,media,invention,culture,...",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,plus,1,47,https://www.ted.com/talks/david_deutsch_on_our...,Chemical scum that dream of distant quasars,Legendary scientist David Deutsch puts theoret...,TEDGlobal 2005,0:19:00,9/12/06,"cosmos,physics,global issues,climate change,un...",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,plus,2,98,https://www.ted.com/talks/richard_dawkins_on_o...,Why the universe seems so strange,"Biologist Richard Dawkins makes a case for ""th...",TEDGlobal 2005,0:21:56,9/12/06,"cosmos,evolution,physics,astronomy,psychology,...",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

And now to merge the two dataframes. If all goes well, we should have a dataframe with a size of `1747 x 28`.

In [8]:
df_all = pd.concat([df_only, df_plus])
df_all.shape

(1747, 28)

Okay. Now let's check the contents, maybe trim that "Unnamed column", and then save this to a file. (To do this, I used `df_all.head(3)` and `df_all.tail(3)` several times to check the columns and the indexing. I also used `df_all = df_all.reset_index(drop=True)` to, well, reset the index.

In [18]:
df_all.tail(3)

,Set,Unnamed: 0,Talk_ID,public_url,headline,description,event,duration,published,tags,...,speaker2_introduction,speaker2_profile,speaker_3,speaker3_occupation,speaker3_introduction,speaker3_profile,speaker_4,speaker4_occupation,speaker4_introduction,speaker4_profile
1744,plus,755,12803,https://www.ted.com/talks/sauti_sol_the_rhythm...,The rhythm of Afrobeat,"From BeyoncÃƒÂ© to Drake and beyond, the world i...",TEDGlobal 2017,0:12:25,3/23/18,"vocals,Africa,music,performance",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1745,plus,756,13062,https://www.ted.com/talks/mennat_el_ghalid_how...,How fungi recognize (and infect) plants,"Each year, the world loses enough food to feed...",TEDGlobal 2017,0:04:36,3/27/18,"TED Fellows,fungi,nature,biology,biodiversity,...",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1746,plus,757,12202,https://www.ted.com/talks/ndidi_nwuneli_the_ro...,The role of faith and belief in modern Africa,Ndidi Nwuneli has advice for Africans who beli...,TEDGlobal 2017,0:13:12,3/29/18,"religion,faith,society,Africa,community,educat...",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In order to remove the column which had the vestigial index, we need to see all the column names:

In [19]:
columns = df_all.columns.values.tolist()
print(columns)

['Set', 'Unnamed: 0', 'Talk_ID', 'public_url', 'headline', 'description', 'event', 'duration', 'published', 'tags', 'views', 'text', 'speaker_1', 'speaker1_occupation', 'speaker1_introduction', 'speaker1_profile', 'speaker_2', 'speaker2_occupation', 'speaker2_introduction', 'speaker2_profile', 'speaker_3', 'speaker3_occupation', 'speaker3_introduction', 'speaker3_profile', 'speaker_4', 'speaker4_occupation', 'speaker4_introduction', 'speaker4_profile']

Now that we know the exact name of the column, we can drop it:

In [20]:
df_all_dropped = df_all.drop('Unnamed: 0', 1)

And, of course, a quick double-check to make sure everything is as it should be:

In [21]:
df_all_dropped.tail(3)

,Set,Talk_ID,public_url,headline,description,event,duration,published,tags,views,...,speaker2_introduction,speaker2_profile,speaker_3,speaker3_occupation,speaker3_introduction,speaker3_profile,speaker_4,speaker4_occupation,speaker4_introduction,speaker4_profile
1744,plus,12803,https://www.ted.com/talks/sauti_sol_the_rhythm...,The rhythm of Afrobeat,"From BeyoncÃƒÂ© to Drake and beyond, the world i...",TEDGlobal 2017,0:12:25,3/23/18,"vocals,Africa,music,performance",195195,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1745,plus,13062,https://www.ted.com/talks/mennat_el_ghalid_how...,How fungi recognize (and infect) plants,"Each year, the world loses enough food to feed...",TEDGlobal 2017,0:04:36,3/27/18,"TED Fellows,fungi,nature,biology,biodiversity,...",811626,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1746,plus,12202,https://www.ted.com/talks/ndidi_nwuneli_the_ro...,The role of faith and belief in modern Africa,Ndidi Nwuneli has advice for Africans who beli...,TEDGlobal 2017,0:13:12,3/29/18,"religion,faith,society,Africa,community,educat...",662380,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

And let's write this to a `csv` and get on with the analysis.

In [22]:
df_all_dropped.to_csv('../data/TEDall_speakers.csv', index=False)

## Loading the New Dataframe.

Loading the new dataframe.

In [ ]:
df = pd.read_csv('../output/TEDall_speakers.csv')
df.shape

In [ ]:
df.dtypes